<form>
  <h2>
    Username:
  </h2>
  <input type="text"
    [(ngModel)]="username"
    id="username"
    name="username"
    (submit)="onUserSubmit()">

  <button [disabled]="username===''" (click)="onUserSubmit()">
    Log in
  </button>
</form>
