header {
  background-color: #F15152;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
}
h1 {
  margin: auto;
  width: fit-content;
  font-size: 200%;
  font-family: 'Sigmar One', cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0B0014;
  color: #85C7F2;
}
h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 130%;
}
main {
  background-color: #F5F5F5;
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
}
.navContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.userContainer {
  border-color: #0B0014;
  border-width: 2px;
  margin-top: 40px;
  border-style: solid;
  background-color: #F15152;
  margin-right: 120px;
  width: 247px;
  text-align: center;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 140%;
  height: 10px;
}
p {
  font-family: 'Oswald', sans-serif;
  font-size: 120%;
  width: 247px;
}
form {
  width: fit-content;
  float: right;
  position: absolute;
  bottom:0;
  right: 0;
}
button {
  font-family: 'Sigmar One', cursive;
  background-color: #85C7F2;
  border-color: #0B0014;
  margin-right: 120px;
  font-size: 250%;
  width: 250px;
}
#navButton {
  margin-bottom: 20px;
  height: 200px;
  float: right;
}
#logOutButton {
  height: 60px;
  margin-bottom: 40px;
  float: right;
}
.clearfix {
  clear:both;
  float: right;
}
