<main id="loginBackground">
  <h1 id="title">Welcome to PokéTrainer!</h1>
  <app-login-form (loggedIn)="handleUserLoggedIn()"></app-login-form>
  <section class="login-api-credits">
    <h3 id="apiCreditTitle">Powered by:</h3>
    <img id="apiCreditImage" src="assets/pokeapi_logo.png" alt="PokeAPI">
  </section>
</main>
