#loginBackground {
  background: linear-gradient(90deg, #F5F5F5 30%, #F15152 0%);
  top: 0;
}
#apiCreditTitle {
  height: 5px;
  float: inherit;
}
#apiCreditImage {
  float: inherit;
}
.login-api-credits {
  bottom: 40px;
  left: 40px;
  position: absolute;
}
#title {
  float: right;
  font-size: 500%;
  width: 700px;
  -webkit-text-stroke-width: 4px;
  margin-top: 80px;
}
