<header>
  <h1>Your collected Pokémon</h1>
</header>
<main>
  <ul id="pokemonContainer">
    <li *ngIf="usersPokemon.length==0">
      <h1 style="font-size: 350%;color: #0B0014">Looks like you don’t have any collected pokémon yet...</h1>
    </li>
    <li *ngFor="let poke of pokemon"
        (click)="clickPokemon(poke)"
        class="pokeHolder">
      <h4 class="pokemonName">{{poke.name}}</h4>
      <img class="pokemonImage" src="./assets/{{poke.id}}.png" [alt]="poke.id"/>
    </li>
  </ul>
  <section class="navContainer">
    <div class="userContainer">
      <h3>Trainer id:</h3>
      <p>{{username}}</p>
    </div>
    <form>
      <button (click)="findPokemon()" id="navButton">Find Pokemon</button>
      <div class="clearfix"></div>
      <button (click)="logOut()" id="logOutButton">Log out</button>
    </form>
  </section>

</main>
