#pokemonContainer {
  overflow-y: scroll;
  height: 500px;
  width: 560px;
  margin-left: 50px;
  border-color: #525252;
  border-width: 2px;
  margin-top: 40px;
  border-style: solid;
}
.pokeHolder {
  width: 500px;
  display: flex;
  flex-wrap: nowrap;
  border-color: #525252;
  border-width: 2px;
  border-style: solid;
  margin: 5px;
}
.pokemonImage {
  order: 1;
  width: 150px;
  height: 150px;
}
.pokemonName {
  order: 2;
  margin-top: 55px;
}
