#navButton {
  font-size: 240%;
}
#pokemonContainer {
  height: 500px;
  width: 600px;
  margin-left: 50px;
  border-color: #525252;
  border-width: 2px;
  margin-top: 40px;
  border-style: solid;
  overflow-Y: auto;
}
.pokeHolder {
  width: 500px;
  display: flex;
  flex-wrap: nowrap;
  border-color: #525252;
  border-width: 2px;
  border-style: solid;
  margin: 5px;
}
.pokemonImage {
  order: 1;
  width: 150px;
  height: 150px;
}
.flexPadding {
  order: 3;
  flex: 1;
}
.pokemonName {
  order: 2;
  margin-top: 55px;
}
.pokeballImage {
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-right: 10px;
  order: 4;
}
