<header>
  <h1>Pokédex</h1>
</header>
<main>
  <div class="row" id="pokemonContainer"
       [infiniteScroll]="loadMore">
    <ul>
      <li *ngFor="let poke of pokemon"
          (click)="clickPokemon(poke)"
          class="pokeHolder">
        <h4 class="pokemonName">{{poke.name}}</h4>
        <img class="pokemonImage" src="./assets/{{poke.id}}.png" [alt]="poke.id"/>
        <div class="flexPadding"></div>
        <img *ngIf="poke.caught" class="pokeballImage" src="favicon.ico" alt="Pokemon caught"/>
      </li>
    </ul>
  </div>
  <section class="navContainer">
    <div class="userContainer">
      <h3>Trainer id:</h3>
      <p>{{username}}</p>
    </div>
    <form>
      <button (click)="toCollection()" id="navButton">Your collection</button>
      <div class="clearfix"></div>
      <button (click)="logOut()" id="logOutButton">Log out</button>
    </form>
  </section>
</main>
